body {
    .body-title {
        font-size: 20pt;
        font-weight: bold;
        color: #333;
    }
    .add-form {
        margin-left: auto;
        margin-right: auto;
        width: 35%;
    }
    table {
        text-align: center;
        thead {
            background-color: #83ff83;
            color: #ffffff;
            text-align: center;
        }
    }
    .createinfo {
        font-size: 15pt;
        font-weight: bold;
        color: #333;
        margin-bottom: 5px;
    }
}