body {
    .header-title {
        position: relative;
        height: 1px;
        color: #b2d8ff;
        font-size: 22pt;
        font-weight: bold;
        padding: 3px;
        margin-left: 3px;
        text-decoration-line: underline;
        text-decoration-color: #84ff84;
    }
    .header-nav {
        height: -1px;
        .inline-block {
            display: inline;
            background-color: #84ff84;
            padding: 5px;
            position: relative;
            padding: 10px;
            a {
                color: #ffffff;
            }
        }
    }
    .container {
        min-width: 100%;
    }
    .hr-line {
        background-color: #b2d8ff;
    }
    footer {
        text-align: center;
        .footer-image {
            padding: 0px;
            margin: 15px;
        }
    }
}

// table {
//     border: rgb(233, 243, 247);
//     background-color: rgb(185, 231, 142);
// }
// table tr td {
//     text-align: center;
//     padding: 20px;
//     border: 1px solid #aaa;
//     column-rule-color: #555;
// }
// table tr th {
//     text-align: center;
//     padding: 20px;
//     border: 1px solid #aaa;
// }